<!DOCTYPE html>
<html lang="en">
<head>
  <title>CClub P0</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=UnifrakturCook:700" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>CClub Project 0</h1>
  <p>Pass arguments in url to see the effect!</p> 
</div>
  
<div class="container">
  <div class="row">
    <div class="col-sm-4 col-md-4 col-xs-12" style="background-color: {{ color }}; height: 250px">

    </div>
    <div class="col-sm-4 col-md-4 col-xs-12">
      <img class="img-responsive" src= {{ gif }} alt="giphy" style="min-height: 250px;max-height: 250px">
    </div>
    <div class="col-sm-4 col-md-4 col-xs-12">      
      <p style="font-family: 'UnifrakturCook', cursive; font-size: 30px">{{ text }}</p>
    </div>
  </div>
</div>

</body>
</html>
