@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon2db6.eot?4395bh');
  src:  url('../fonts/icomoon2db6.eot?4395bh#iefix') format('embedded-opentype'),
    url('../fonts/icomoon2db6.html?4395bh') format('truetype'),
    url('../fonts/icomoon2db6.woff?4395bh') format('woff'),
    url('../fonts/icomoon2db6.svg?4395bh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-google-plus:before {
  content: "\e901";
}
.icon-facebook:before {
  content: "\e902";
}
.icon-twitter:before {
  content: "\e900";
}
.icon-check:before {
  content: "\e903";
}
.icon-chevron-left:before {
  content: "\e904";
}
.icon-chevron-right:before {
  content: "\e905";
}
.icon-clock:before {
  content: "\e906";
}
.icon-newspaper:before {
  content: "\e907";
}
.icon-close:before {
  content: "\e908";
}
